name: static-check
on:
  push:
    branches:
      - main
      - master
  pull_request:

permissions:
  contents: read

jobs:
  static-checks:
    name: static check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
          cache: false

      - name: Verify and Install Dependencies
        run: |
          go mod tidy
          go mod download
          go mod verify

      - name: Run Static Analysis
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest
          staticcheck ./...

      - name: Run go vet
        run: go vet ./...


  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
          cache: false

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64

  build:
    name: build
    runs-on: ubuntu-latest
    needs: [ static-checks, golangci] # Runs only if linting & static-checks pass

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
          cache: false

      - name: Verify Dependencies
        run: go mod verify

      - name: Build Project
        run: go build -v -o bin/tracker ./cmd/main.go

  test:
    name: go test
    runs-on: ubuntu-latest
    needs: [ static-checks, golangci ] # Ensure tests run after checks

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
          cache: false

      - name: Run Tests
        run: go test -race -cover ./...

      - name: Check Coverage
        run: |
          coverage=$(go tool cover -func=coverage.out | grep total | awk '{print substr($3, 1, length($3)-1)}')
          echo "Total Coverage: $coverage%"
          if (( $(echo "$coverage < 40.0" | bc -l) )); then
          echo "âŒ Code coverage too low: $coverage%"
          exit 1
          fi

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.out